html, body {
  padding: 0%;
  margin: 0%;
  height: 100%;
  overflow: hidden;
  font-size: large;
}

.main-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column; /* Changed to column for responsiveness */
  background-color: aqua;
}

.textbox {
  height: 10%; /* Changed to 50% to fit better in smaller screens */
  width: 100%;
  display: grid;
  place-items: center;
}

textarea {
  height: 90%;
  width: 90%;
  font-size: large;
  overflow-wrap: break-word;
  text-align: left;
  border: none;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
}

.result {
  height: 90%; /* Changed to 50% to fit better in smaller screens */
  width: 100%;
  display: grid;
  place-items: center;
}

.target {
  height: 90%;
  width: 90%;
  overflow-y: scroll;
  text-align: left;
  border: none;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
}

/* Media Queries */
@media screen and (min-width: 768px) {
  .main-container {
    flex-direction: row; /* Switch back to row layout for larger screens */
  }

  .textbox {
    width: 40%; /* Adjust width for larger screens */
    height: 100%;
  }

  .result {
    width: 60%; /* Adjust width for larger screens */
    height: 100%;
  }
}
